STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL="file:./medusa-db.sqlite"
DB_NAME=medusa-v2

# Wompi Payment
WOMPI_PUB_KEY=pub_test_example
WOMPI_PRV_KEY=prv_test_example
WOMPI_INTEGRITY_SECRET=secret_test_example
